@media only screen and (max-width: 900px) {
    
    h5 {
    font-size: 300%;
    }
    
    .title{
        margin-bottom: -100px;
    }
    
}

@media only screen and (max-width: 768px) {
    
    .title{
        margin-bottom: -50px;
    }
    
    
}


@media only screen and (max-width: 320px) {
    
    .title{
        margin-bottom: -70px;
    }
    
    .coachingbox {
        
        height: 320px;
    }
    
    .Cicon{
        padding-top: 10%;
    }
    
    .Ricon{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .half{
        padding-top: 20%;
    }
    
    .resourcesbox{
        height: 320px;
    }
}

