@media only screen and (max-width: 1350px) {
    
    .insight-text {
    font-size: 100%;
    }
    .insight-small-title {
        font-size:120%;
    }
    
}
@media only screen and (max-width: 900px) {
    
    
    h5 {
    font-size: 300%;
    }
    
    .title{
        margin-bottom: -100px;
    }
    
}

@media only screen and (max-width: 768px) {
    
    .insightbg{
        margin: auto;
        text-align:center;
    }
    
    .insight-small-title{
        text-align:center;
        margin: 2%;
    }
    
    .blocker{
        margin:auto;
        
    }
    
    .insight-text{
       text-align: center;
        margin: 5%;
    }
    
    .text-left{
        text-align: center;
        margin: 0 auto;
    }
    
    .btn-default{
    margin: 0 auto;
    }
    
    
    .title{
        margin-bottom: -50px;
    }
    
    btn-default{
        margin: 0 auto;
    }
    
    h1{
        font-size: 250%;
    }
    
    h2{
        font-size: 290%;
    }
    
    p1{
        font-size: 100%;
    }
    
    h3{
        font-size: 150%;
    }
    
    h4{
        font-size: 160%;
    }
    h6{
        margin:0%;
        margin-top: 3%;
    }
    h7 {
        margin-left:0%;
    }
    
    p2{
        font-size: 90%;
        margin: 10%;
    }
    
    .involvedbox {
        height: 220px;
        padding-top: 5%;
    }
    
    .connectorsbox {
        height: 220px;
        padding-top: 5%;
    }
    
    .header-text {
    padding-top: 10%;
    padding-bottom: 15%;
    }
    .footer-right{
        font-size: 10px;
    }
    .container{
        font-size: 2%;
    }
    .icons {
    margin-left: 0%;
    }
    .footer-image {
    margin-left:0%
    }
    .footer-small{
        font-size: 80%;
    }
}


@media only screen and (max-width: 320px) {
    
    .herobg{
        background-position: center right 32%;
    }
    
    .title{
        margin-bottom: -70px;
    }
    
    .coachingbox {
        
        height: 320px;
    }
    
    .Cicon{
        padding-top: 10%;
    }
    
    .Ricon{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .half{
        padding-top: 20%;
    }
    
    .resourcesbox{
        height: 320px;
    }
   
}

