/*FONTS GO HERE*/

h1{
    font-size: 
}

h5{
font-size:50px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

h6{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
    margin-left: 24%
}
h7{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
    margin-left: 12.5%
}

.navbar{
    padding-top:10px;
    background-color: white;
}
.nav{
    padding-top: 10px;
}


.herobg{
    background: url(images/header.jpg);
    background-size: cover;
    width:100%;
    position: relative;
    
}

.header-text{
    padding-top: 250px;
    padding-bottom:350px;
}

.connectorsbg{
    background: url(images/s_1_bg.jpg);
    background-size: cover;
    width: 100%;
    
}

.connectorsbox{
    background-color: #ee3836;
    width: 300px;
    height: 300px;
    padding-top: 20px;
    margin-right: 170px;
    margin-left: 450px;
}

.involvedbox{
    background-color: #c1d704;
    width: 300px;
    height: 300px;
    padding-top: 60px;
}

.blocker {
    width: 310px;
    height: 2px;
    background-color: greenyellow;
    margin-bottom: 40px;
}

.insight-text {
    font-size: 16px;
    text-align: left;
    line-height: 2em;
    margin-right: 150px;
}
.insightbg {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-right: 0px;
}
.insight-small-title {
    font-size: 24px;
    text-align: left;
}

.btn-default{
        display: block;
    margin-top: 20px;
    border-radius: 12px;
    width: 50%;
    color: black;
    background-color: #d5df29;
    border-color: white;
}

.learningbg{
    background: url(images/learningbg.jpg)no-repeat center center;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 100%;
}

.coachingbox{
    
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 12.5%;
    background-color: #c1d704;
    width: 290px;
    height: 430px; 
    
}

.resourcesbox{
    background-color: #ee3836;
    margin-left: 25%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 290px;
    height: 430px;
    
}

img{
    margin:auto;
}

.Cicon{
    padding-top: 55px;
    padding-bottom: 30px;
}

.Ricon{
    padding-top: 40px;
    padding-bottom: 30px;
}

.btn-primary{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    color: black;
    background-color: white;
    border-color: white;
    
}
.btn-primary2{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    color: black;
    background-color: #d5df29;
    border-color: white;
}
.footer{
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #50c38b;
  color: white;
  text-align: center;
}

.footer-image{
    width:20%;
    margin-left:24%;
}
